extends ../layouts/_main.pug

block variables
    - const title = 'РГСУ - Расписание занятий'
    - const page = 'index'
    - const subpage = 'schedule'

block content
    include ../sections/_index.pug
