extends ../layouts/_main.pug

block variables
    - const title = 'РГСУ - Расписание преподавателей'
    - const page = 'index'
    - const subpage = 'teach'

block content
    include ../sections/_teacher.pug
