extends ../layouts/_main.pug

block variables
    - const title = 'РГСУ - Загруженность аудиторий'
    - const page = 'index'
    - const subpage = 'traff'

block content
    include ../sections/_traffic.pug
