footer.footer#footer
    .footer__container.container
        .footer__wrapper
            a(href="#").footer__button.btn.btn--primary.active Сообщить&nbsp;об&nbsp;ошибке
                svg(width='19' height='17')
                    use(href="#bell")
            p.footer__version Версия расписания от <span>20.03.2020</span>
            button(type="button").btn.btn--primary.footer__print.active Распечатать
                svg(width='18' height='18')
                    use(href="#print")
